body {
    box-sizing: border-box;
    background-color: #23252C;
    font-family: Inter, sans-serif;
    height: 868px;
    width: 550px;
}

.container {
    margin: 44px 116px;
    background: #1A1B21;
    height: 780px;
    width: 317px;
    border-radius: 0px 0px 10px 10px;
}

.photo {
    width: 317px;
    height: 317px;
    left: 116px;
    top: 44px;
    border-radius: 10px 10px 0px 0px; 
}

.info--name {
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: -10px;
}

.info--role {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    color: #F3BF99;
    margin-bottom: -10px;
}

.info--website {
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    color: #F5F5F5;
    margin-bottom: 15px;
}

.button--group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 317px;
    margin-bottom: 42px;
}

.info--email {
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.info--linkedin {
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    background: #5093E2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    color: #ffffff;
    border: none;
}

svg {
    margin-right: 9px;
}

.about, .interest {
    color: #f5f5f5;
    font-size: 16px;
    background: #1A1B21;
    width: 242px;
    padding-left: 36px;

}

.about--para, .interest--para {
    color: #dcdcdc;
    font-weight: 400;
    font-size: 11px;
    width: 317px;
    background: #1A1B21;
    margin-bottom: 26px;
    width: 247px;
    margin-left: 36px;
}

.complete--info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 72px;
    margin-right: 72px;
    border-radius: 0px 0px 10px 10px;
}


